*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #282828;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.logo{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-shadow: 1px 2px 4px #282828;
    position: absolute;
}
.menu{
    float: right;
    margin-top: -40;
    padding-top: 0;
}

.menu ul{
    display: inline-block;
}

.menu li{
    padding: 20px;
    display: inline-block;
}

.background{
    height: 100%;
    background: linear-gradient(#ff6f69 50%, #ffcc5c 50%);
    
    

}

.services{
    
    text-align: center;
   padding-top: 80px;
    
}

.service-title{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    
}

.card-image img{
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    box-shadow:1px 1px 3px #282828 ;
    
}

.card-image:hover{
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    animation:falls 2s;
    transition:all cubic-bezier(0.455, 0.03, 0.515, 0.955)200ms;

}
.card{
    
    background-color: honeydew;
    box-shadow: 1px 2px 4px #282828;
    width: 350px;
    border-radius: 10px;
    display: inline-block;
}

.card-header{
    text-align: center;
    font-size: 15px;
}

.card-content li{
    text-align: center;
    padding: 10px;
}
